.dashboard {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 90%
}

.profile-section {
    width: 65%;
}

.left-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}

.left-section li a{
    text-decoration: none;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
    width: 100%;
    background-color: #f4f4f4;
    padding: 30px;
    border-radius: 15px;
}

.nav button {
    background-color: #00000000;
    border: none;
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
    background-color: #2980b9;
    width: 100%;
    border-radius: 15px;
    padding: 30px;
}

.image {
    border: 1px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.user-details {
    display: flex;
    flex-direction: column;
}