body {
    background-color: white;
}

section {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;
    
}

.patient-details {
    width: 33%;
}

.search-profile {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 40%;
}

.search-profile input {
    border: 1px solid rgb(209, 209, 209);
    text-align: center;
    width: 70%;
}

.navbar-icon {
    font-size: 1.2rem;
  color: #333;
  cursor: pointer;
}