body {
  font-family: 'Open Sans';
}

.form-container-main {
  margin: 50px auto;
  border: 1px solid #f4f4f9;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.header-section {
  background-color: #007bff;
  color: white;
  font-weight: 700;
  text-align: center;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.form-container label {
  padding: 15px 0;
}

.form-container input {
  border-radius: 4px;
  padding: 5px;
}

.form-container label, 
.form-container input {
  width: 75%;
}

button {
  width: 100%;
  background-color: #0272FA;
  color: white;
  border: none;
  height: 40px;
  letter-spacing: 1px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}